<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICreditCardApplicationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62727/Services/CreditCardApplicationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreditCardApplicationService"
                contract="CreditCardApplicationServiceReference.ICreditCardApplicationService"
                name="BasicHttpBinding_ICreditCardApplicationService" />
        </client>
    </system.serviceModel>
</configuration>